/* The flex box container */
.outer-box {
    background-color: #b8d6e3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* The items in the flex box container (.outer-box) */
.inner-box {
    background-color: #7f7f7f;
    height: 50px;
    flex: 1 1 0;
}

/* Spacings (padding + gap) ... inspired by TailwindCSS */
.spacing-10 {
    padding: 10px;
    gap: 10px;
}
.spacing-12 {
    padding: 12px;
    gap: 12px;
}
.spacing-15 {
    padding: 15px;
    gap: 15px;
}

/* Contain items with outlines (solid borders) */
.outlined-items > div {
    border: 2px solid black;
}

/* Use the entire width of the flex box */
.width-full {
    flex-basis: 100%;
}

/* Since the other items have `flex: 1 1 0`, this should 
   have twice the width. */
.width-2 {
    flex: 2 2 0;
}